@font-face {
    font-family: 'Source Sans Pro';
    src: url('file:../fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('file:../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 10px;
    background-color: rgb(82,82,82);
    font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 13px;
    color: #fff;
}

h1, h2, h3, h4 {
    margin: 0;
}

h3 {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

h4 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
}

button {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 3px;
    color: #eee;
    font-size: 12px;
    padding: 6px 8px;
    line-height: 1;
    cursor: pointer;
    transition: all 250ms;
}

button:disabled {
    opacity: 0.25;
    pointer-events: none;
}

button:focus {
    outline: none;
    background: rgba(0,0,0,0.25);
}

button:hover,
button:active {
    background: rgba(0,0,0,0.25);
}

select {
    -moz-appearance: none;
	-webkit-appearance: none;
    width: 100%;
    background: rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.2);
    color: #eee;
    border-radius: 4px;
    padding: 6px 8px;
    margin: 0;
    font-size: 13px;
}

select:focus{
    outline: none;
}

select:focus option{
    outline: none;
}

select option {
    background-color: rgb(206, 206, 206);
    color: rgb(28, 28, 28);
    outline: none;
    border: none;
}


select:active,
select.is-pressed{
  background-color: rgb(52, 52, 52);
  border: 1px solid rgb(99, 99, 99);
  outline: none;
}

section {
    margin-bottom: 15px;
}

.h-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.path-label {
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.run {
    text-align: right;
}

#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}


#btn_test{
    width: 100%;
}